<table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Sales</th>
            <th>Met Quota?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let salesPerson of salesPersonList">
            <td>{{salesPerson._firstName}}</td>
            <td>{{salesPerson._lastName}}</td>
            <td>{{salesPerson._email}}</td>
            <td>{{salesPerson._salesVolume}}</td>
            <td *ngIf="salesPerson._salesVolume > 25">Yes</td>
        </tr>
    </tbody>


</table>
